@page "/Home"
@using UHDGrabber.Services
@inject RadarrGrabberService _radarrGrabberService
@inject DataManagerService _dataManagerService

<p>
    Enter Radarr API key:
    <input @bind="_radarrGrabberService.RadarrApiKey"/>
</p>
<p>
    Enter Radarr IP Address:
    <input @bind="_radarrGrabberService.RadarrIp"/>
</p>

<button @onclick="_dataManagerService.SaveDataToFile">
    Save changes
</button>

<button @onclick="CallTestFunction">
    Test Radarr
</button>

@code{

    bool radarrConnectSuccess;
    async Task CallTestFunction()
    {
        radarrConnectSuccess = await _radarrGrabberService.TestConfig();
    }
}

<p>
    @radarrConnectSuccess
</p>

@if (radarrConnectSuccess)
{
    if (!_dataManagerService.HasMovies)
    {
        <button @onclick="_dataManagerService.PullRadarrMovies">
            Collect movies from Radarr DB
        </button>
    }
    else
    {
        <button @onclick="_dataManagerService.StartIndexerSearch">
            Start Searching
        </button>
    }
}

<ul>
    <li>Key set as: @_radarrGrabberService.RadarrApiKey</li>
</ul>
<ul>
    <li>IP set as: @_radarrGrabberService.RadarrIp</li>
</ul>

<table title="MoviesTable">
    <tr>
        <th>Movie Title</th>
        <th>Movie IMDB ID</th>
        <th>Last Searched</th>
        <th>Download Data</th>
    </tr>
    <Virtualize Items="@DataManagerService.LocalMovieContainers" Context="MovieContainer">
        <tr>
            <td>@MovieContainer.MovieName</td>
            <td>@MovieContainer.ImdbId</td>
            <td>@MovieContainer.LastSearched</td>
            <td>
                <table title="MagnetLinks">
                    <tr>
                        <th>Torrent Filename</th>
                        <th>Torrent Category</th>
                        <th>Magnet Link</th>
                    </tr>
                    @{
                        foreach (var downloadObject in MovieContainer.DownloadObjects)
                        {
                            <tr>
                                <td>@downloadObject.filename</td>
                                <td>@downloadObject.category</td>
                                <td><a href="@downloadObject.magnetLink">Link</a></td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </Virtualize>
</table>



